* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2e3440;
    color: #d8dee9;
    height: 100%;
}

nav {
    position: relative;
    font-size: 1.2rem;
    display: flex;
    background-color: #3b4252;
    align-items: center;
    justify-content: center;
}

.info-container {
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.info  {
    font-variant: small-caps;
    height: 100%;
    cursor: pointer;
    transition: all 2s ease;
}

.modes {
    display: flex;
    align-items: center;
}

.mode {
    display: inline-block;
    padding: 0 0.5rem;
    cursor: pointer;
    height: 100%;
}

.mode-highlight {
    background-color: #eceff4;
    color: #4c566a;
}

header {
    height: 20vh;
    background-color: #5e81ac;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in;
}

.header-text {
    text-align: right;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}


main {
    height: 100%;
    display: flex;
    align-content: center;
}

.square-container {
    margin: 7vh auto;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "square square square square"
        "square square square square";
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}


.square {
    width: 100%;
    padding-bottom: 80%;
    background-color: blue;
    border-radius: 5% 10%;
    border: 2px solid #81a1c1;
    transition: all 0.5s ease;

}

.invisible {
    opacity: 0;
}

.chosen {
    background-color: transparent;    
}